@model BTS__User__Mangement__API.Models.AdminAppDetails

@{
    ViewBag.Title = "Verify";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="padding-top: 20px">
    <div class="col-md-10 col-md-offset-1">
        <div class="well">


            <div class="modal fade" tabindex="-1" id="successModal" data-keyboard="false" data-backdrop="static">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">

                        </div>
                        <div class="modal-body">
                            <form id="form">
                                <h2> Verification Successful</h2>
                                <div class="text-center">
                                    <img id="myImg" src="https://static.pexels.com/photos/34950/pexels-photo.jpg" style="height:30px;" class="center-block" alt="User Management API">
                                </div>

                                <div class="modal-body">
                                    <h2> Hello Your Email Verification Was Successful.</h2>
                                </div>


                                <div class="modal-footer">
                                    <input class="btn btn-success pull-right" type="button" id="btnRegister" value="Continue" />
                                </div>

                            </form>
                        </div>

                    </div>

                </div>
            </div>




            <div id="divError" class="alert alert-danger collapse">
                <a id="linkClose" class="close" href="#">&times;</a>
                <div id="divErrorText"></div>
            </div>
        </div>
    </div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            $('#successModal').modal('show');

            $('#linkClose').click(function () {
                $('#divError').hide('fade');
            });

             @{
                 <text>

                var CallBackUrl = '@Model.CallBackUrl';
                var LogoUrl = '@Model.LogoUrl';


            </text>
            }


                $('#myImg').attr('src', LogoUrl);
                $('#btnRegister').click(function () {

                    window.location.href = CallBackUrl;
            });
        });
    </script>
</body>
</html>

